<%= bootstrap_form_for :session, url: mesh_sessions_path(@mesh), remote: true, html: {id: 'new_session'} do |f| %>
  <button type="submit" class="btn btn-success">
    <%= icon('plus', 'Add session') %>
  </button>
  <button type="reset" class="btn btn-default pull-right reload-sessions">
    <%= icon('refresh', 'Force refresh data...') %>
  </button>
<% end %>
