<div style="white-space: nowrap;">
  <% (1..total).each do |n| %><div class="stage<%= "-current-#{n}" if current == n %>"><span class="badge"><%= n %></span> <%= text if current == n %></div><% end %>
</div>
