<% render 'navbar' %>
<div class="page-header">
  <h2>Listing Sessions</h2>
</div>

<table id="indexTable" class="table data-table" data-page-length="50" data-order="[[ 4, &quot;desc&quot; ]]" data-column-defs="[{&quot;searchable&quot;: false, &quot;targets&quot;: 3}]">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stage</th>
      <th>Status</th>
      <th data-orderable="false">Workflow</th>
      <th>Created</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <%= render "row", session: session %>
    <% end %>
  </tbody>
</table>
