<p>
  <%= link_to 'Open Thermal Paraview', paraview_thermal_path(session.thermal), method: :put, id: "thermal_paraview_#{session.id}", class: 'btn btn-thermal-results btn-sm paraview-popover btn-fixwidth', remote: true %>
</p>
<%= link_to 'Open Structural Paraview', paraview_structural_path(session.thermal.structural), method: :put, id: "structural_paraview_#{session.id}", class: 'btn btn-structural-results btn-sm paraview-popover btn-fixwidth', remote: true %>
