<% render 'navbar' %>
<div class="page-header">
  <h2>Listing Meshes</h2>
</div>

<table id="meshTable" class="table data-table" data-page-length="50" data-order="[[ 3, &quot;desc&quot; ]]" data-state-save="true"> <!--data-column-defs="[{&quot;orderDataType&quot;: &quot;dom-text&quot;, &quot;targets&quot;: 0}]">--> <!-- data-state-save="true"> -->
  <thead>
    <tr>
      <th>Name</th>
      <th data-orderable="false"></th>
      <th data-orderable="false">Mesh File</th>
      <th>Created</th>
      <th data-orderable="false"></th>
    </tr>
  </thead>

  <tbody>
    <% @meshes.each do |mesh| %>
      <%= render "row", mesh: mesh %>
    <% end %>
  </tbody>
</table>
