// Place all the styles related to the meshes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bip-placeholder {
  color: #777777;
  input {
    color: #000;
  }
  border: 2px dashed #0087F7;
  border-radius: 5px;
  text-align: center;
}

.name-field {
  min-width: 100px;
}
