$thermal-primary-color: #9b26b6;
$thermal-secondary-color: lighten(#9b26b6, 50%);
$structural-primary-color: #ffa300;
$structural-secondary-color: lighten(#ffa300, 40%);

@mixin stage($bgcolor, $badgecolor) {
  display: inline-block;
  padding: 4px;
  margin: 0px;
  background-color: #ddd;
  min-width: 95px;

  background-color: $bgcolor;

  .badge {
    background-color: $badgecolor;
  }
}

.btn-thermal-results { 
  @include button_variant(#000, $thermal-secondary-color, $thermal-primary-color);
  font-weight: bold;
  min-width: 180px;
}

.btn-structural-results { 
  @include button_variant(#000, $structural-secondary-color, $structural-primary-color);
  font-weight: bold;
  min-width: 180px;
}
// results_btn($thermal-secondary-color, $thermal-primary-color) }
// .structural-results-btn { @include results_btn($structural-secondary-color, $structural-primary-color) }

.stage-vftsolid { @include stage(#d9edf7, #337ab7) }
.stage-thermal { @include stage($thermal-secondary-color, $thermal-primary-color) }
.stage-structural { @include stage($structural-secondary-color, $structural-primary-color) }
.stage-results { @include stage(#dff0d8, #3c763d) }

.status-label > span {
  font-size: 12px;
  display: block;
  height: 18px;
  width: 100px;
  padding-top: 4px;
}

.hours-form {
  min-width: 60px;
}
